/* General styles */

html {
    background-color: #fff; /* Fondo blanco fuera del body */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6ef;
    color: #333;
    width: 85%; /* Adjust the width of the body */
    margin: 10px auto 0 auto; /* Add top margin and center the body on the page */
}

header {
    background-color: #ff6600;
    padding: 5px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-left {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

ul.nav-left li {
    margin: 0 10px;
}

/* Logo "Y" styles */
a.logo {
    display: inline-block;
    background-color: #ff6600; /* Orange background color */
    color: #fff !important; /* Always white color for "Y" */
    padding: 5px 10px; /* Internal spacing */
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 1px solid #fff; /* White border line */
    border-radius: 3px; /* Slightly rounded borders */
}



/* Link styles */

.nav-left li a,
.nav-right .login {
    color: #000; /* Black text color by default */
    text-decoration: none;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    margin-right: 10px; /* Adds margin to the right */
}

.nav-left li a.active {
    color: white !important;
}

.nav-right .login:active {
    color: #fff; /* White text color when clicked */
}

.nav-left li a.head {
    font-weight: bold; /* Only "Hacker News" is bold */
    color: #000; /* Ensure "Hacker News" remains black */
}

/* Additional styles */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adds space between the "submit" link and the search form */
}

.search-form input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #f6f6ef;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.nav-right span {
    color: #fff;
    font-size: 14px;
    margin-left: auto;
}

.nav-right a {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-right .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
}

/* Main Content */
main {
    width: 85%;
    margin: 20px auto;
}

.news-list ul {
    list-style-type: none;
    padding: 0;
}

.news-title a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.news-details {
    font-size: 12px;
    color: #888;
}

form p {
    display: flex;
    align-items: center; /* Alinea los elementos en el centro verticalmente */
    margin-bottom: 15px; /* Espacio entre los campos */
}

form label {
    width: 70px; /* Espacio reservado para el label, ajusta según el diseño que necesites */
    margin-right: 10px; /* Espacio entre el label y el campo */
    font-weight: normal;
    color: #777;
}

form input, form textarea {
    width: 100%; /* Los campos de texto llenan el espacio disponible */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; /* Asegura que el padding no altere el ancho */
}

p {
    margin-bottom: 30px; /* Increase the bottom margin to 30px */
}

.content-wrapper {
    margin: 0 20px; /* Add left and right margin */
}



.username-link {
    color: #000; /* Black text color by default */
    text-decoration: none;
}
/*
.username-link:hover {
    text-decoration: underline;
}
*/
.user-actions {
    display: flex;
    align-items: center;
}

.username-link {
    color: #000; /* Black text color by default */
    text-decoration: none;
    margin-right: 10px; /* Space between username and separator */
    padding: 5px 10px; /* Match the padding of other elements */
}

.username-link.active {
    color: white !important;
    text-decoration: none !important;
}

.separator {
    margin: 0 10px; /* Space around the separator */
    color: #000  !important; /* Black color for the separator */
}

a.submissions-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the same color as the surrounding text */
}
a.submissions-link:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}







.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 2px;
    margin-top: -15px; /* Ajusta este valor según sea necesario */

}


/* Triángulo pequeño a la izquierda del título */
.triangle-icon {
    all: unset;
    cursor: pointer;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #777;
    margin-right: 10px;
    align-self: center;
}

.triangle-icon.hidden {
    visibility: hidden; /* Mantiene el espacio pero hace invisible el triángulo */
}

.triangle-icon.unlogged {
    margin-top: 15px; /* Ajusta este valor según sea necesario */
}

.red-asterisk {
    color: #ff6600;
    font-weight: bold;
    font-size: 22px; /* Adjust the font size as needed */
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1; /* Ensure the asterisk is on top */
}

.news-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between; /* Ensure the details are aligned to the right */
}

.news-title {
    flex-grow: 1; /* Allow the title to take up available space */
}

.submission-number {
    color: #777;
    margin-right: 5px;
}