{% load socialaccount %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ submission.title }}</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/news" class="logo">Y</a></li>
            <li><a href="/news" class="head">Confirm</a></li>
        </ul>
    </nav>
</header>
<body>
    <div id="comments">
        <div class="comment" id="comment-{{ comment.id }}">
            <p class="comment-meta">
                {% if comment.author == request.user %}
                    <span class="red-asterisk-comments">*</span>
                    <span class="triangle-icon hidden"></span>
                {% else %}
                    <span class="triangle-icon"></span>
                {% endif %}
                <strong>{{ comment.author.username }}</strong>&nbsp;
                <span class="comment-time">{{ comment.created_at|custom_timesince }} ago</span>&nbsp;

                {% if comment.author == request.user %}
                    | <a href="{% url 'news:edit_comment' comment.id %}" class="comment-link">edit</a>
                    | <a href="{% url 'news:confirm_delete' comment.id %}" class="comment-link" onclick="confirmDelete(event)">delete</a>
                {% endif %}
            </p>
            <div class="comment-content">
                <p class="comment-text">{{ comment.text }}</p>
            </div>
        </div>
    </div>
    <p style="color: grey;">Do you want this to be deleted?</p>
    <div class="button-container">
        <form method="POST" action="{% url 'news:delete_comment' comment.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-yes">Yes</button>
        </form>
        
        <form method="GET" action="{% url 'news:submission_detail' submission.id %}">
            <button type="submit" class="btn btn-no">No</button>
        </form>
    </div>
</body>
</html>