{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <main>
        <p class="comment-meta">
            {% if comment.author == request.user %}
                <span class="red-asterisk-comments">*</span>
                <span class="triangle-icon hidden"></span>
            {% else %}
                <span class="triangle-icon"></span>
            {% endif %}
            <strong>{{ comment.author.username }}</strong>&nbsp;
            <span class="comment-time">
                <a href="{% url 'news:reply_to_comment' comment.id %}">
                    {{ comment.created_at|timesince }} ago
                </a>
            </span>&nbsp;

            {% if comment.author == request.user %}
                | <a href="{% url 'news:edit_comment' comment.id %}" class="comment-link">edit</a>
                | <a href="{% url 'news:confirm_delete' comment.id %}" class="comment-link" onclick="confirmDelete(event)">delete</a>
            {% endif %}
            {% if comment.parent %}
                    | <a href="{% url 'news:comment_parent' comment.parent.id %}" class="comment-link">Parent</a>
                    {% else %}
                    | <a href="{% url 'news:submission_detail' submission.id %}" class="comment-link">Parent</a>
                    {% endif %}

                <!-- Enlace al comentario sobre el que se hizo el reply -->
                | <strong>Comment on:</strong> 
                <a href="{% url 'news:submission_detail' submission.id %}">{{ submission.title }}</a>
        </p>

        <!-- Texto actual del comentario -->
        <p class="current-comment-text">{{ comment.text }}</p>
         
        <section>
            <div class="save-comment"> 
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}  
                    <button type="submit">update</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>