<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>News</h1>
        <div class="login-button">
            {% if user.is_authenticated %}
                <span class="username">{{ user.username }}</span>
                <span class="separator">|</span>
                <a href="{% url 'logout' %}"><button>Logout</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button>Login</button></a>
            {% endif %}
        </div>
    </div>
    <ul>
        {% for submission in submissions %}
            <li><a href="{{ submission.get_absolute_url }}">{{ submission.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>