{% load socialaccount %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    <!-- Header Section -->
    {% include "header.html" %}



    <!-- Main Content Section -->
    <main>
        <section class="news-list">
            <ul>
                {% for submission in submissions %}
                    <li class="news-item">
                        <span class="submission-number">{{ forloop.counter }}. </span>
                        <div class="icon-container">
                            {% if submission.author == request.user %}
                                <span class="red-asterisk">*</span>
                                <span class="triangle-icon hidden"></span>
                            {% elif submission.id in voted_submissions %}
                                <span class="triangle-icon hidden "></span>
                            {% else %}
                                {% if user.is_authenticated %}
                                    <form action="{% url 'users:upvote' submission.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="triangle-icon"></button>
                                    </form>
                                {% else %}
                                    <button class="triangle-icon unlogged" onclick="showLoginPrompt()"></button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <span class="news-title">
                            <a href="{{ submission.url }}"> {{ submission.title }}</a>
                            <small>({{ submission.url|domain }})</small>
                        </span>
                        <span class="news-details">
                            {{ submission.point }} points
                            by <a href="{% url 'users:profile' %}?id={{ submission.author }}" class="submissions-link">{{ submission.author }}</a>
                            {{ submission.created_age }}
                            |
                            <!-- solo se muestra si el usuario autenticado ha votado la submission -->
                            {% if submission.id in voted_submissions %}
                                <a href="{% url 'users:unvote' submission.id %}?next={{ request.path }}" class="submissions-link">unvote</a>
                                |
                            {% endif %}
                            <!-- solo se muestra si el usuario autenticado es el autor de la submission -->
                            {% if user.is_authenticated %}
                                <a href="{% url 'news:hide_submission' submission.id %}" class="submissions-link">hide</a>
                            {% else %}
                                <a onclick="showLoginPrompt()" class="submissions-link">hide</a>
                            {% endif %}
                        
                            <!-- todo: numero de comentarios-->
                            | X comments
                            <!-- solo se muestra si el usuario autenticado es el autor de la submission -->
                            {% if submission.author == request.user %}
                                | <a href="{% url 'news:delete_submission' submission.id %}" class="submissions-link" onclick="confirmDelete()">delete</a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>