{% load custom_filters %}
{% for reply in replies %}
    <div class="comment" id="comment-{{ reply.id }}">
        <p class="comment-meta">
            <!-- Icono de comentario (Asterisco o Triángulo) -->
            {% if reply.author == request.user %}
                <span class="red-asterisk-comments">*</span>
                <span class="triangle-icon hidden "></span>
            {% elif reply.id in voted_comments%}
                <span class="triangle-icon hidden"></span>
            {% else %}
                <form action="{% url 'users:upvote_comment' reply.id %}?next={{ request.path }}" method="post" class="inline-form">
                    {% csrf_token %}
                    <button type="submit" class="triangle-icon comment"></button>
                </form>
            {% endif %}
            
        <span class="comment-author">
            <strong>
                <a href="{% url 'users:profile' %}?id={{ reply.author.username }}" class="comment-link">{{ reply.author.username }} </a>
            </strong>
            <span class="comment-time">
                <a href="{% url 'news:reply_to_comment' reply.id %}?reply=false" class="comment-link">
                    {{ reply.created_at|custom_timesince }} ago
                </a>
            </span>&nbsp;
        </span>
        {% if reply.id in voted_comments %}
            | <a href="{% url 'users:unvote_comment' reply.id %}?next={{ request.path }}" class="comment-link">unvote</a>
        {% endif %}
        <!-- Botones Editar y Eliminar -->
        {% if reply.author == request.user %}
            | &nbsp;<a href="{% url 'news:edit_comment' reply.id %}" class="comment-link">edit</a>&nbsp;
            | &nbsp;<a href="{% url 'news:confirm_delete' reply.id %}" class="comment-link">delete</a>
        {% endif %}
        </p>
        
        <div class="comment-content">
            <p class="comment-text">{{ reply.text }}</p>

            <!-- Enlace para responder a la respuesta -->
            <a href="{% url 'news:reply_to_comment' reply.id %}?reply=true" class="reply-link">reply</a>
            
            <!-- Mostrar respuestas de esta respuesta, si existen -->
            <div class="replies" style="display: block; margin-left: 20px;">
                {% include 'reply_thread.html' with replies=reply.replies.all %}
            </div>
        </div>
    </div>
{% endfor %}