{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<body>
{% include "header.html" %}
<main>
    <div class="comments-container">
        {% for comment in comments %}
            <div class="comment">
                <p class="comment-meta">
                    {% if comment.author == request.user %}
                        <span class="red-asterisk-comments">*</span>
                        <span class="triangle-icon hidden "></span>
                    {% elif comment.id in voted_comments %}
                        <span class="triangle-icon hidden"></span>
                    {% else %}
                        <form action="{% url 'users:upvote_comment' comment.id %}?next={{ request.path }}" method="post" class="inline-form">
                            {% csrf_token %}
                            <button type="submit" class="triangle-icon comment"></button>
                        </form>
                    {% endif %}
            <span class="comment-author">
                <a href="{% url 'users:profile' %}?id={{ comment.author.username }}" class="comment-link">{{ comment.author.username }}</a>
                <span class="comment-time">{{ comment.created_at|timesince }} ago</span>
                |
                <a href="{% url 'news:submission_detail' comment.submission.id %}#comment-{{ comment.parent.id }}"class="comment-link">parent</a>
                |
                <a href="{% url 'news:submission_detail' comment.submission.id %}#comment-{{ comment.id }}"class="comment-link">context</a>
                |
                {% if comment.id in voted_comments %}
                    <a href="{% url 'users:unvote_comment' comment.id %}?next={{ request.path }}" class="comment-link">unvote</a>
                    <span class="separator">|</span>
                {% endif %}

                {% if comment.author == request.user %}
                    <a href="{% url 'news:edit_comment' comment.id %}" class="comment-link">edit</a>
                    |
                    <a href="{% url 'news:confirm_delete' comment.id %}" class="comment-link">delete</a>
                    |
                {% endif %}
                on: <a href="{% url 'news:submission_detail' comment.submission.id %}" class="comment-link">{{ comment.submission.title|truncatechars:30 }}</a>
                </p>
            </span>
                <div class="comment-content">
                    <p class="comment-text">{{ comment.text }}</p>
                    <a href="{% url 'news:reply_to_comment' comment.id %}" class="reply-link">reply</a>

                    <!-- Mostrar respuestas (replies) de forma anidada -->
                    <div class="replies" style="margin-left: 20px;">
                        {% include 'reply_thread.html' with replies=comment.replies.all voted_comments=voted_comments%}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</main>
</body>
</html>